html,body{
    margin:0;
    padding:0;
}

body {
    padding-top: 40px;
}

.form {
    width: 200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
}

.form div,input,button {
    margin: 2px 10px;
    text-align: center;
    font-size: 12px;
    word-wrap: break-word;
}

.form button {
    display: block;
}

.search {
    margin: 5px 40px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    overflow: auto;
}

.search-btn {
    display: block;
    width: 150px;
    margin: 10px auto;
}

.search-item {
    display: flex;
    justify-content: center;
}

.search-item p {
    margin: 5px 10px;
}

.loading {
    margin: 0 !important;
    display: inline-block;
    width: 25px;
    height: 5px;
    text-align: center;
}

.loading span{
    display: inline-block;
    height: 100%;
    -webkit-animation: load 1.04s ease infinite;
}
.loading span:last-child{
    margin-right: 0px;
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
.loading span:nth-child(1){
    -webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.65s;
}

.random {
    max-height: 400px;
    overflow: auto;
    width: 400px;
    margin: auto;
    font-size: 13px;
}

.random p {
margin: 5px 0;
}