<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user page</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/jquery.md5.js"></script>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <div id="user-crack" class="form">
        <input v-model="password" placeholder="password"
               maxlength="5" pattern="[a-z]{5}"
               autocapitalize="off" autocorrect="off" autofocus="autofocus">
        <button @click="onSubmit">crack</button>
        <div v-if="cracked.length">{{cracked}}</div>
    </div>
    <script>
        const postPassWord = new Vue({
            el: '#user-crack',
            data: {
                password: "",
                cracked: "",
            },
            methods: {
                onSubmit() {
                    const passwordMd5 = $.md5(this.password);
                    console.log(passwordMd5);
                    $.ajax({
                        url: `/user/crack`,
                        type: 'POST',
                        data: {
                            passwordMd5,
                        },
                        success: (resp) => {
                            if (resp.code == 0) {
                                this.cracked = resp.data;
                            } else {
                                alert(resp.msg)
                            }
                            this.password = "";
                        }
                    })
                }
            }
        })

    </script>
</body>
</html>