<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user page</title>
    <script src="https://cdn.bootcss.com/vue/2.5.17/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/jquery.md5.js"></script>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <div id="user-crack" class="form">
        <input v-model="password" placeholder="password"
               maxlength="5" pattern="[a-z]{5}"
               autocapitalize="off" autocorrect="off" autofocus="autofocus">
        <button @click="onSubmit" class="sub-btn">
            {{btnText}}
            <div v-if="isLoading" class="loading">
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </div>
        </button>
        <div v-if="md5.length">md5: {{md5}}</div>
        <div v-if="cracked.length">cracked: {{cracked}}</div>
    </div>
    <script>
        const postPassWord = new Vue({
            el: '#user-crack',
            data: {
                md5:"",
                password: "",
                cracked: "",
                isLoading: false,
                btnText: "submit"
            },
            methods: {
                onSubmit() {
                    if (this.password.length < 5) {
                        alert("invalid input! please enter 5 character!")
                        return;
                    }
                    // clear prev
                    this.cracked = "";
                    this.md5 = "";
                    if (this.isLoading) return;

                    // start
                    this.isLoading = true;
                    this.btnText = ""
                    const passwordMd5 = $.md5(this.password);
                    this.md5 = passwordMd5;
                    const timeout = setTimeout(() => {
                        this.isLoading = false;
                        this.btnText = "submit"
                        this.cracked = "timeout!";
                    }, 60000);

                    $.ajax({
                        url: `/user/crack`,
                        type: 'POST',
                        data: {
                            passwordMd5,
                        },
                        success: (resp) => {
                            // clear loading
                            this.isLoading = false;
                            this.btnText = "submit"
                            clearTimeout(timeout)
                            if (resp.code == 0) {
                                this.cracked = resp.data;
                            } else {
                                alert(resp.msg)
                            }
                            this.password = "";
                        }
                    })
                }
            }
        })

    </script>
</body>
</html>